

<div>
    <div class="row">
        <div class="col-xs-12" style="text-align: center">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <h4 style="display: inline-block; float: top">Calandrier</h4>
                    <br/>
                    <div style="display: inline-block;" align="center" class="dropdown" >
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Selection Evenement
                            <span class="caret"></span>
                        </button>
                        <ul float: right class="dropdown-menu" >
                            <li ng-repeat="evenement in calandrierList">
                                <a role="button" ng-click="setEvenementEdit(evenement)">{{evenement.titleText}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <form id="upload-file-form">
                        <div class="panel" style="text-align:left">
                            <div class="panel-heading noSpace">
                                <div class="container-fluid panel-contaner noSpace">
                                    <div data-toggle="collapse" data-parent="#accordion" data-target="#textCollapse">
                                        <div class="hovereffect">
                                            <img id="imageCalandrierEdit" class="img-responsive calandrierMax" src="#" alt="Preview"/>
                                            <div class="overlay">
                                                <h2>{{calandrier.titleText}}</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="textCollapse" class="panel-collapse collapse noSpace" role="tabpanel" aria-labelledby="headingOne">
                                <p ng-bind-html="calandrier.contenue"/></P>
                            </div>

                        </div>

                        <br/>
                        <label for="upload-file-input" class="btn btn-default btn-file">
                            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"/>
                            Naviger <input id="upload-file-input" 
                                           accept="image/*" 
                                           type="file" 
                                           name="uploadfile"
                                           style="display: none;">
                        </label>

                        <br/>
                        <br/>
                        <label for="calandrierImageAlt">Image Alt</label>
                        <input id="calandrierImageAlt" type="text" 
                               placeholder="Une description textuel de l'image" class="form-control"
                               ng-model="calandrier.imageAlt"/>

                        <hr/>
                        <label for="calandrierTitre">Titre calandrier</label>
                        <input id="calandrierTitre" type="text" placeholder="Titre" class="form-control"
                               ng-model="calandrier.titleText"/>

                        <label for="calandrierContenue">Contenue Calandrier</label>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <textarea id="calandrierContenue" class="form-control" rows="3" 
                                              placeholder="Écrire la description en HTML" style="resize: none"
                                              ng-model="calandrier.contenue"></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="button" ng-click="uploadAdd()"    class="btn btn-primary">
                            Enregistrer Nouveau
                        </button>
                        <button type="button" ng-click="uploadUpdate()" class="btn btn-success">
                            <span class="glyphicon glyphicon-floppy-disk"></span> Updater
                        </button>
                        <button type="button" ng-click="uploadDelete()" class="btn btn-danger" aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove-circle"></span> Supprimer
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
