<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="item in homeItems">
            <h1 class="center">{{item.titre}}</h1>
            <p>{{item.contenue}}</p>
            <img class="img-responsive" ng-src="{{item.img}}" alt="test"/>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" 
                    width="340" 
                    height="500" 
                    style="border:none;overflow:hidden" 
                    scrolling="no" 
                    frameborder="0" 
                    allowTransparency="true">
            </iframe>
        </div>
    </div>
</div>
