<style>
    .carousel-indicators li {
        background-color: #999;
        background-color: rgba(70,70,70,.25);
    }
    .carousel-indicators .active {
        background-color: #444;
    }
    .roundBorder{
        border-radius: 5px;
    }
    .item-image {
        position: relative;
        overflow: hidden;
        padding-bottom: 50%;
    }
    .item-image img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
    }
</style>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" ng-class="{active:$first}"
                    data-slide-to="{{$index}}" ng-repeat="element in images">
                </li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div ng-class="{item:true, active: $first}" ng-repeat="element in images">
                    <div class="item-image">
                        <img class="roundBorder" ng-src="{{element.url}}" alt="{{element.imageAlt}}">
                    </div>
                    <div class="carousel-caption">
                        <h3>{{element.titre}}</h3>
                        <p>{{element.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

