<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <title>Kibo Taiko</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="KiboTaiko est un groupe de tambour japondis qui a pour but de promouvoir les arts musicaux et culturel  au prêt des jeunes."/>


        <link rel="stylesheet" href="CSS/style.css" />
        <link href="CSS/Extern/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>	
        <div class="container-fluid" style="background: gray !important;">
            <a href="#/">
                <div class="row">
                    <div class="col-xs-12 noSpace" style="background:black">
                        <img class="img-responsive" ng-src="Images/Bandrolle.jpg" style="max-height: 250px; width: 100%" alt="temp"/>
                    </div>
                </div>
            </a>

            <div class="container-fluidwidth">
                <div class="row" ng-Controller="navBarrController">
                    <div class="col-xs-12 noSpace">
                        <nav class="navbar navbar-inverse" style="border-radius: 0px !important" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>    
                                <a class="navbar-brand" href="#/"
                                   data-toggle="collapse" data-target=".navbar-collapse.in">Accueil</a>
                            </div>
                            <div class="navbar-collapse collapse" style="text-align: center">
                                <ul class="nav navbar-nav" style="display: inline-block; float: none">
                                    <li ng-repeat="n in navBarrItems">
                                        <a class="nav-link" href="{{n.destination}}"
                                           data-toggle="collapse" data-target=".navbar-collapse.in">{{n.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>

            <div ng-view="">
                <!--the view will apear here-->
            </div>
            <footer style="position:static ;bottom:0px;left:0;right:0;height:30px;padding-top: 100px;">
                <div class="container-fluid noSpace">
                    <div class="row">
                        <div class="col-xs-12 noSpace" style="background-color: darkslategrey; min-height: 200px;">
                            <div class="pull-right" style="padding:10px">
                                <button type="button" class="btn btn-primary" aria-label="Left Align">
                                    <span class="glyphicon social social-facebook"></span>
                                    <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
                                </button>

                                <button type="button" class="btn btn-default" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular-sanitize.js"></script>

        <!--Tous les controller seront ici a voir si on a besoin de les mettre aux bonnes places si le site devient trop gros-->
        <script src="JS/TemplateKiboTaiko.js"></script>
        <script src="JS/CalendrierController.js"></script>
        <script src="JS/GalerieController.js"></script>
        <script src="JS/HomeController.js"></script>
        <script src="JS/AdminController.js"></script>
        <script src="JS/ActiviteController.js"></script>
        <script src="JS/CommanditeController.js"></script>
        <script src="JS/Admin/AdminCalendrierController.js"></script>
        <script src="JS/Admin/AdminHomeController.js"></script>
        <script src="JS/Admin/AdminImagesController.js"></script>
    </body>
</html>