<div ng-controller="AdminHomeController">
    <div class="row">
        <div class="col-xs-12" style="text-align: center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-heading noSpace">
                        <div class="container-fluid panel-contaner noSpace">
                            <div data-toggle="collapse" data-parent="#accordion" data-target="#AccueilController">
                                <h4 style="display: inline-block; float: top">Accueil</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AccueilController" 
                     class="panel-collapse collapse noSpace" 
                     role="tabpanel" 
                     aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div style="display: inline-block;" align="center" class="dropdown" >
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Selection Evenement
                                <span class="caret"></span>
                            </button>
                            <ul float: right class="dropdown-menu" >
                                <li ng-repeat="Item in HomeItems | orderBy:'order'">
                                    <a role="button" ng-click="test(Item)">{{Item.titre}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
