<div ng-controller="AdminImagesController">
    <div class="row">
        <div class="col-xs-12" style="text-align: center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-heading noSpace">
                        <div class="container-fluid panel-contaner noSpace">
                            <a data-toggle="collapse" 
                               data-parent="#accordion" 
                               data-target="#ImagesController"
                               herf="#ImagesController">
                                <h4 style="display: inline-block; float: top">Images</h4>
                            </a>
                        </div>
                    </div>

                </div>
                <div id="ImagesController" class="panel-collapse collapse noSpace" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">   

                        <form id="upload-file-form-newImage">
                            <div class="row">
                                <div class="col-xs-12">
                                    <img class="img-responsive img-rounded" ng-src="data:image/JPEG;base64,{{currentImage.image}}"/>
                                </div>
                            </div>
                            <br/>
                            <br/>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label for="imageAltUpload">
                                        Image alt
                                        <input id="imageAltUpload" type="text" ng-model="currentImage.imageAlt">
                                    </label>
                                </div>
                                <div class="col-xs-12 center">
                                    <label for="uploadImage" class="btn btn-default btn-file">
                                        <span class="glyphicon glyphicon-paperclip" aria-hidden="true"/>
                                        Naviger 
                                        <input id="uploadImage" accept="image/*" type="file" name="uploadfile"style="display: none;" 
                                               onchange="angular.element(this).scope().imageChange(this)"/>
                                    </label>
                                    <label class="btn btn-success btn-file">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                        Sauvegarder 
                                        <input ng-click="uploadImage(currentImage)" type="button" style="display: none;" />
                                    </label>
                                </div>
                            </div>
                        </form>
                        
                        <br/>
                        <br/> 
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 col-xs-12 noSpace" ng-repeat="image in images" style="border:solid">
                                <img class="img-responsive img-rounded" ng-src="data:image/JPEG;base64,{{image.image}}"/>
                                <br/>
                                <button type="button" ng-click="deleteImage(image.id)" class="btn btn-danger" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-remove-circle"></span> Supprimer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>