<div id="adminCalendrierPage" class="row" ng-controller="AdminCalendrierController">
    <div class="col-xs-12" style="text-align: center">
        <div class="panel panel-default">
            <div class="panel-heading" role="button" data-toggle="collapse" data-target="#CalendrierController">
                <h4>Calendrier</h4>
            </div>

            <div id="CalendrierController" class="panel-collapse collapse">
                <div class="panel-body">
                    <div style="display: inline-block;" align="center" class="dropdown" >
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Selection Evenement
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="evenement in calendrierList">
                                <a role="button" ng-click="setEvenementEdit(evenement)">{{evenement.titleText}}</a>
                            </li>
                        </ul>
                    </div>
                    <br/>
                    <br/>
                    <div class="panel" style="text-align:left">
                        <div class="panel-heading noSpace">
                            <div class="container-fluid panel-contaner noSpace">
                                <div data-toggle="collapse" data-target="#textCollapse">
                                    <div class="hovereffect">
                                        <img class="img-responsive img-rounded calendrierMax" ng-src="data:image/JPEG;base64,{{calendrier.image.image}}" imageAlt="{{calendrier.image.imageAlt}}"/>
                                        <div class="overlay">
                                            <h2>{{calendrier.titleText}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="textCollapse" class="panel-collapse collapse noSpace" role="tabpanel" aria-labelledby="headingOne">
                            <p ng-bind-html="calendrier.contenue"/></P>
                        </div>
                    </div>

                    <br/>
                    L'image doit avoir la grosseur 1024 X 127 pour bien parraitre sur le site
                    <br/>
                    <label for="uploadImageCalendrier" class="btn btn-default btn-file">
                        <span class="glyphicon glyphicon-paperclip" aria-hidden="true"/>
                        Naviger 
                        <input id="uploadImageCalendrier" accept="image/*" type="file" name="uploadfile"style="display: none;" 
                               onchange="angular.element(this).scope().imageChangeCalendrier(this)"/>
                    </label>


                    <div style="display: inline-block;" align="center" class="dropdown" >
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Selection Images
                            <span class="caret"></span>
                        </button>
                        <ul float: right class="dropdown-menu" >
                            <li ng-repeat="image in images">
                                <a role="button" ng-click="setImage(image)">{{image.name}}</a>
                            </li>
                        </ul>
                    </div>

                    <br/>
                    <hr/>
                    <label for="calendrierTitre">Titre calendrier</label>
                    <input id="calendrierTitre" type="text" placeholder="Titre" class="form-control"
                           ng-model="calendrier.titleText"/>

                    <label for="calendrierImageAlt">Image Alt</label>
                    <input id="calendrierImageAlt" type="text" 
                           placeholder="Une description textuel de l'image" class="form-control"
                           ng-model="calendrier.image.imageAlt"/>

                    <label for="calendrierContenue">Contenue Calendrier</label>
                    <br/>
                    <button type="button" class="btn btn-default" ng-click="addText('<b>', '</b>')">
                        <span class="glyphicon glyphicon-bold" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="addText('<i>', '</i>')">
                        <span class="glyphicon glyphicon-italic" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="addText('<u>', '</u>')">
                        <span class="glyphicon glyphicon-text-color" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="addText('<div class=\'text-left\'>', '</div>')">
                        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="addText('<div class=\'text-center\'>', '</div>')">
                        <span class="glyphicon glyphicon-align-center" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="addText('<div class=\'text-center\'>', '</div>')">
                        <span class="glyphicon glyphicon-align-center" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="addText('<br/\>', '')">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    </button>

                    <div style="display: inline-block;" align="center" class="dropdown" >
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            <b>Grosseur</b>
                            <span class="caret"></span>
                        </button>
                        <ul float: right class="dropdown-menu" >
                            <li>
                                <a role="button" ng-click="addText('<h1>', '</h1>')"><h1>Vraiment très grand</h1></a>
                            </li>
                            <li>
                                <a role="button" ng-click="addText('<h2>', '</h2>')"><h2>Très grand</h2></a>
                            </li>
                            <li>
                                <a role="button" ng-click="addText('<h3>', '</h3>')"><h3>Grand</h3></a>
                            </li>
                            <li>
                                <a role="button" ng-click="addText('<h4>', '</h4>')"><h4>Normal</h4></a>
                            </li>
                            <li>
                                <a role="button" ng-click="addText('<h5>', '</h5>')"><h5>Petit</h5></a>
                            </li>
                            <li>
                                <a role="button" ng-click="addText('<h6>', '</h6>')"><h6>Très petit</h6></a>
                            </li>
                        </ul>
                    </div>

                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea id="calendrierContenue" class="form-control" rows="10" 
                                          placeholder="Écrire la description en HTML" style="resize: none"
                                          ng-model="calendrier.contenue"></textarea>
                            </div>
                        </div>
                    </div>

                    <button type="button" ng-click="AddCalendrier()"    class="btn btn-primary">
                        Enregistrer Nouveau
                    </button>
                    <button type="button" ng-click="UpdateCalendrier()" class="btn btn-success">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Updater
                    </button>
                    <button type="button" ng-click="DeleteCalendrier()" class="btn btn-danger" aria-label="Left Align">
                        <span class="glyphicon glyphicon-remove-circle"></span> Supprimer
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>